{% extends 'core/base.html' %}
{% load static %}

{% block title %}
Error {{ code }}
{% endblock title %}

{% block content %}
<div class="has-margin-t-1">
  <div class="columns has-text-centered">
    <div class="column is-4 is-offset-4">
      <p class="is-size-1 has-text-weight-bold">
        Error {{ code }}
      </p>
    </div>
  </div>
  
  <div class="columns has-text-centered">
    <div class="column is-4 is-offset-4">
      <p class="is-size-3 has-text-weight-semibold">
        {{ message }}
      </p>
    </div>
  </div>
  
  <p class="has-text-centered">
    Pagina: {{ request.META.HTTP_HOST }} 
    <a href="{% url 'blog:home' %}">Regresar a la página</a>
  </p>
</div>
{% endblock content %}