html,
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background: #F0F2F4;
}

.navbar.has-shodow {
    box-shadow: 1px 3px 13px #808080;
}

.navbar.is-white {
    background: #F0F2F4;
}

.navbar-brand .brand-text {
    font-size: 1.11rem;
    font-weight: bold;
}

.hero-body {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

.articles {
    margin: 5rem 0;
    margin-top: -200px;
}

.articles .content p {
    line-height: 1.9;
    margin: 15px 0;
}

.author-image {
    position: absolute;
    top: -30px;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    border: 3px solid #ccc;
    border-radius: 50%;
}

.media-center {
    display: block;
    margin-bottom: 1rem;
}

.media-content {
    margin-top: 3rem;
}

.media-content.has-overflow-unset {
    overflow: unset !important
}

.article,
.promo-block {
    margin-top: 6rem;
}

div.column.is-8:first-child {
    padding-top: 0;
    margin-top: 0;
}

.article-title {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 2;
}

.article-subtitle {
    color: #909AA0;
    margin-bottom: 3rem;
}

.article-body {
    line-height: 1.4;
    margin: 0 6rem;
}

.promo-block .container {
    margin: 1rem 5rem;
}


/*-------- HERO IMAGE ------------*/
.hero.has-background {
	position: relative;
	overflow: hidden;
}

.hero-background {
	position: absolute;
	object-fit: cover;
	object-position: center center;
	width: 100%;
	height: 100%;
}

.hero-background.is-transparent {
	opacity: 0.7;
}
/*-------- HERO IMAGE ------------*/

/*-------- ANIMATIONS  
from : https://daneden.github.io/animate.css/
------------*/

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.fast {
    -webkit-animation-duration: 800ms;
    animation-duration: 800ms;
}

.animated.faster {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
}

.animated.slow {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

.animated.slower {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

@-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}
  
@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}
  
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes bounceInDown {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -3000px, 0);
      transform: translate3d(0, -3000px, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(0, 25px, 0);
      transform: translate3d(0, 25px, 0);
    }
  
    75% {
      -webkit-transform: translate3d(0, -10px, 0);
      transform: translate3d(0, -10px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0, 5px, 0);
      transform: translate3d(0, 5px, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes bounceInDown {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -3000px, 0);
      transform: translate3d(0, -3000px, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(0, 25px, 0);
      transform: translate3d(0, 25px, 0);
    }
  
    75% {
      -webkit-transform: translate3d(0, -10px, 0);
      transform: translate3d(0, -10px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0, 5px, 0);
      transform: translate3d(0, 5px, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}
/*-------- ANIMATIONS 
from : https://daneden.github.io/animate.css/
------------*/