{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/bulma.0.7.5.css' %}" />
  <link rel="stylesheet" href="{% static 'css/bulma-utilities.css' %}" />
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  <title>
  {% block title %}
  Django Blog
  {% endblock title %}
  </title>
</head>
<body>

  <!-- START NAV -->
  {% include 'blog/includes/nav.html' %}
  <!-- END NAV -->

  <!-- HERO IMAGE-->
  {% block hero %}
  <div class="hero is-fullheight has-background animated fadeIn faster" style="margin-top:45.5px">
    <img 
      class="hero-background is-transparent"
      src="{% block image %}{% endblock image %}"
    />
    <div class="hero-head">
      <div class="container has-text-centered">
        <div class="columns has-margin-t-1 has-margin-lr-3">
          <div class="column is-8 is-offset-2">
            {% include 'blog/includes/search.html' %}
          </div>
        </div>
      </div>
    </div>

    <div class="hero-body">   
      <div class="container">
        <h1 class="title has-text-white is-2">
          {% block herotitle %}{% endblock herotitle %}
        </h1>
        <h3 class="subtitle has-text-white is-3">
          {% block herosubtitle %}{% endblock herosubtitle %}
        </h3>
      </div>
    </div>
  </div>
  {% endblock hero %}
  <!-- HERO IMAGE -->

  <!-- START CONTAINER -->
  <div class="container animated fadeIn faster">
    {% block content %}
    {% endblock content %}
  </div>
  <!-- END CONTAINER -->

  <!-- START FOOTER -->
  {% block footer %}
  {% endblock footer %}
  <!-- END FOOTER -->

  <script src="{% static 'js/font-awesome.5.3.1.js' %}"></script>
  <script src="{% static 'js/blog.js' %}"></script>
  {% block extrajs %}
  {% endblock extrajs %}
  
</body>
</html>