<div class="field">
  <label class="label">Nombre de Usuario</label>
  <div class="control">
    <input class="input" type="text" name="username" placeholder="Nombre de Usuario" value="{{ form.username.value|default_if_none:'' }}">
  </div>
  {% if form.username.errors %}
    {% for error in form.username.errors %}
    <p class="help is-danger">
      {{ error }}
    </p>
    {% endfor %}
  {% endif %}
</div>

<div class="field">
  <label class="label">Correo Electrónico</label>
  <div class="control">
    <input class="input" type="text" name="email" placeholder="Correo Electrónico" value="{{ form.email.value|default_if_none:'' }}">
  </div>
  {% if form.email.errors %}
    {% for error in form.email.errors %}
    <p class="help is-danger">
      {{ error }}
    </p>
    {% endfor %}
  {% endif %}
</div>

<hr>

<div class="field">
  <label class="label">Contraseña</label>
  <div class="control">
    <input class="input" type="password" name="password1" placeholder="●●●●●●●">
  </div>
  {% if form.password1.errors %}
    {% for error in form.password1.errors %}
    <p class="help is-danger">
      {{ error }}
    </p>
    {% endfor %}
  {% endif %}
</div>

<div class="field">
  <label class="label">Confirmar Contraseña</label>
  <div class="control">
    <input class="input" type="password" name="password2" placeholder="●●●●●●●">
  </div>
  {% if form.password2.errors %}
    {% for error in form.password2.errors %}
    <p class="help is-danger">
      {{ error }}
    </p>
    {% endfor %}
  {% endif %}
</div>

<hr>

<div class="field is-grouped">
  <p class="control">
    <button type="submit" class="button is-link">Registrarse</button>
  </p>
  <p class="control">
    <a class="button is-default" href="{% url 'blog:home' %}">Cancelar</a>
  </p>
</div>