 <div class="card article">
  <div class="card-content">
    <div class="media">
      {% if post.autor.imagen %}
      <div class="media-center">
        <img 
          src="{{ MEDIA_URL }}{{ post.autor.imagen }}" class="author-image"
          alt="{{ post.autor }}">
      </div>
      {% endif%}
      <div class="media-content has-overflow-unset has-text-centered">
        <p class="title article-title">{{ post.titulo }}</p>
        <div class="tags has-addons level-item">
          <span class="tag is-rounded is-info">{{ post.autor.nombres }} {{ post.autor.apellidos }}</span>
          <span class="tag is-rounded">{{ post.fecha_creacion }}</span>
        </div>
      </div>
    </div>
    <div class="content {% if detalle %}has-text-justified{% else %}has-text-centered{% endif %}">
      {% if detalle %}
        {{ post.contenido|safe }}

        {% if perms.blog.change_post %}
          <hr>

          <a href="{% url 'blog:editar_post' post.pk %}">
            <span class="icon has-text-warning">
              <i class="fas fa-edit"></i>
            </span>
          </a>
        {% endif %}

      {% else %}
        {{ post.descripcion }}
        <a class href="{% url 'blog:detalle_post' post.slug %}">Leer mas</a>
      {% endif %}
    </div>
  </div>
</div>
